@media(max-width:575px){
  /* .header-left{
    margin-right: 30px !important;
  } */
  .header-left a{
    font-size: 8px !important;
  }
/* .header-right{
  margin-left: 50px !important;
} */
.header-right a{
  font-size: 8px !important;
}
}
@media(min-width:576px) and  (max-width:767px){
    

}
@media(min-width:768px) and (max-width:991px){
}
@media(min-width:992px) and (max-width:1199px){

}
@media(min-width:1200px) and (max-width:1399){

}
@media(min-width:1400px){

}